<div class="g-container">
    <section id="g-copyright">


        <div class="g-grid">


            <div class="g-block  size-33-3">
                <div class="g-content g-particle">
                    <div class="g-branding g-branding">
                        <a href="http://www.cabusa.org/">Cultural Association of Bengal</a>
                    </div>

                </div>

            </div>


            <div class="g-block  size-33-3">
                <div class="g-content g-particle">
                    <div class="g-copyright ">
                        Copyright ©
                        2016 - 	2017
                        <a target="_blank" href="http://www.prabasi.org" title="Bay Area Prabasi, Inc.">
                            Bay Area Prabasi, Inc.
                        </a>
                    </div>

                </div>

            </div>


            <div class="g-block  size-33-3">
                <div class="g-content g-particle">
                    <div class=" g-particle">
                        <div class="g-totop">
                            <a href="#" id="g-totop" rel="nofollow">
                                To Top
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>




        <div class="g-grid">


            <div class="g-block size-100">
                <div class="g-content g-particle">
                    <div align="center"><a href="/about-us/policies-and-terms-conditions#privacy">Privacy policy</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about-us/policies-and-terms-conditions#terms">Terms &amp; Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about-us/policies-and-terms-conditions#refund">Refund policy</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about-us/policies-and-terms-conditions#contact">Contact us</a></div>

                </div>

            </div>

        </div>



    </section>
</div>